# Database connection string
DATABASE_URL=file:./neo-one.db

# Or use a PG connection string
#DATABASE_URL=postgresql://127.0.0.1:5432/your-database-name

# Used to encrypt JWT tokens
PAYLOAD_SECRET=ca797a62e1dc6a42b10825a4

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE

# Email Settings (Resend)
RESEND_API_KEY=re_your_api_key_here
EMAIL_FROM_ADDRESS=hello@your-domain.com

# Cloudinary Storage
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
